# bluelevel.config

# level
LevelType=Blue
LevelColorHex=0x5E8DA0

# paddle

# Should generally be half of LevelPaddleWidth.
LevelPaddlePosXOffset=25

LevelPaddlePosYOffset=50
LevelPaddleWidth=60
LevelPaddleHeight=8
LevelPaddleSpeed=8
LevelPaddleColorHex=0xAEC6CF

# ball
LevelBallPosXOffset=0
LevelBallPosYOffset=-20
LevelBallSize=15
LevelBallSpeed=6
LevelBallColorHex=0xAEC6CF

# blockList
LevelBlockListXPos=30
LevelBlockListYPos=30
LevelBlockListBlockAmount=209
LevelBlockListBlockWidth=50
LevelBlockListBlockHeight=15
LevelBlockListBlockSpacing=15

# bottomPanel
LevelBottomPanelColor=0xAEC6CF