# earth_level.config

# Level
LevelName=Earth
LevelDesc=This is the Earth level
LevelColorHex=0x2FBB2F

# Paddle

# Should generally be half of LevelPaddleWidth.
LevelPaddlePosXOffset=50

LevelPaddlePosYOffset=35
LevelPaddleWidth=100
LevelPaddleHeight=3
LevelPaddleSpeed=5
LevelPaddleColorHex=0x426352

# Ball
LevelBallPosXOffset=0
LevelBallPosYOffset=0
LevelBallSize=40
LevelBallSpeed=5
LevelBallColorHex=0x426352

# BlockList
LevelBlockListXPos=20
LevelBlockListYPos=20
LevelBlockListBlockAmount=1
LevelBlockListBlockWidth=35
LevelBlockListBlockHeight=13
LevelBlockListBlockSpacing=15

# GamePanel
LevelGamePanelColorHex=0x426352