# jupiter_level.config

# level
LevelName=Jupiter
LevelDesc=This is the Jupiter level
LevelColorHex=0x5F021F

# paddle
LevelPaddlePosXOffset=25
LevelPaddlePosYOffset=50
LevelPaddleWidth=60
LevelPaddleHeight=10
LevelPaddleSpeed=8
LevelPaddleColorHex=0xFFFFFF

# ball
LevelBallPosXOffset=0
LevelBallPosYOffset=0
LevelBallSize=15
LevelBallSpeed=6
LevelBallColorHex=0xFFFFFF

# blockList
LevelBlockListXPos=30
LevelBlockListYPos=30
LevelBlockListBlockAmount=20
LevelBlockListBlockWidth=50
LevelBlockListBlockHeight=15
LevelBlockListBlockSpacing=15

# bottomPanel
LevelBottomPanelColor=0xFFFFFF