#
# Make it so that this file is loaded on startup, and all the entries
# in here will be corresponding to actual level configuration files. (example shown below.)
#
# This will make it so that the user is essentially able to create their own levels in correct order. :)
#
#
#
redlevel.config
greenlevel.config
bluelevel.config
purplelevel.config
bordeauxlevel.config
# add your own level here, somehow.