# mars_level.config

# level
LevelName=Mars
LevelDesc=This is the Mars level
LevelColorHex=0xFF6961

# paddle

# Should generally be half of LevelPaddleWidth.
LevelPaddlePosXOffset=40

LevelPaddlePosYOffset=50
LevelPaddleWidth=80
LevelPaddleHeight=10
LevelPaddleSpeed=6
LevelPaddleColorHex=0xFAEBD7

# ball
LevelBallPosXOffset=0
LevelBallPosYOffset=-70
LevelBallSize=20
LevelBallSpeed=5
LevelBallColorHex=0xFAEBD7

# blockList amount=104
LevelBlockListXPos=40
LevelBlockListYPos=40
LevelBlockListBlockAmount=20
LevelBlockListBlockWidth=60
LevelBlockListBlockHeight=17
LevelBlockListBlockSpacing=35

# bottomPanel
LevelBottomPanelColor=0xFAEBD7
