#redlevel.config

LevelType=Red
LevelPaddleHeight=10
LevelColorHex=0xFF6961
LevelBallSpeed=6
LevelBallPosYOffset=0
LevelBlockListBlockAmount=200
LevelBottomPanelColor=0xFFFFFF
LevelPaddleColorHex=0xFFFFFF
LevelPaddleWidth=60
LevelBallColorHex=0xFFFFFF
LevelBlockListBlockWidth=50
LevelPaddleSpeed=8
LevelBlockListBlockHeight=15
LevelPaddlePosXOffset=25
LevelBallPosXOffset=0
LevelBallSize=15
LevelBlockListPosY=30
LevelBlockListBlockSpacing=15
LevelBlockListPosX=30
LevelPaddlePosYOffset=50
