# venus_level.config

# level
LevelName=Venus
levelDesc=This is the Venus level
LevelColorHex=0xB19CD9

# paddle
LevelPaddlePosXOffset=25
LevelPaddlePosYOffset=50
LevelPaddleWidth=60
LevelPaddleHeight=10
LevelPaddleSpeed=8
LevelPaddleColorHex=0xDDD3EE

# ball
LevelBallPosXOffset=0
LevelBallPosYOffset=0
LevelBallSize=15
LevelBallSpeed=6
LevelBallColorHex=0xDDD3EE

# blockList
LevelBlockListXPos=30
LevelBlockListYPos=30
LevelBlockListBlockAmount=50
LevelBlockListBlockWidth=50
LevelBlockListBlockHeight=15
LevelBlockListBlockSpacing=15

# bottomPanel
LevelBottomPanelColor=0xDDD3EE